html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    /* 최소 높이를 화면 전체로 설정 */
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    background-image: url('images/Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.container main .bg-title {
    height: auto;
}

.container footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    margin-top: auto;
    /* 항상 화면 하단에 위치 */
}

.bg-title {
    margin-top: 0px;
    display: flex;
    justify-content: center;

}

.img-title {
    margin-top: 20px;
    width: 240px;
    height: 160px;
}

.bg-main {
    max-width: 540px;
    background-image: url('images/Box0_0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;

    aspect-ratio: 1.57 / 1;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin: 0 auto;
}

.input-main {
    display: flex;
    justify-content: end;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
    font-size: 18px;
    margin-bottom: 60px;
}

.input-top {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-self: center;
    background-image: url('images/EditBox.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 3vh;
}

.edt-top {
    width: 65%;
    border: 0;
    background: transparent;
    margin: 0 auto;
    font-size: 1em;
    box-sizing: border-box;
    /* 패딩과 보더를 크기에 포함시킴 */
    padding: 0;
}

.edt-top:focus {
    border: 0;
    /* 포커스 시 border 변경 방지 */
    padding: 0;
    /* 패딩 변경 방지 */
    outline: none;
    /* 포커스 시 외곽선 제거 */
}

.input-check {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.btn-send {
    margin-top: 10px;
    border: 0;
    background: transparent;
    background-image: url('images/Button_0.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 70%;
    height: 3vh;
}

.bg-sub {
    max-width: 540px;
    margin-top: -20px;
    background-image: url('images/Box1_0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    aspect-ratio: 1.2 / 1;
    margin: 0 auto;
}

.link {
    display: flex;
    justify-content: center;
}

.img-link {
    width: 30px;
    height: 30px;
    margin: 10px 10px;
}

@media (max-width: 590px) {

    footer {
        text-align: center;
        margin-top: auto;
        /* 항상 화면 하단에 위치 */
    }

    .bg-title {
        margin-top: 0px;
        display: flex;
        justify-content: center;

    }

    .img-title {
        margin-top: 20px;
        width: 240px;
        height: 160px;
    }

    .bg-main {
        max-width: 540px;
        background-image: url('images/Box0_0.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 75%;
        aspect-ratio: 1.57 / 1;
        display: flex;
        justify-content: end;
        flex-direction: column;
        margin: 0 auto;
    }

    .input-main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 60px;
    }

    .input-top {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-self: center;
        background-image: url('images/EditBox.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 70%;
        height: 3vh;
    }

    .edt-top {
        width: 65%;
        border: 0;
        background: transparent;
        margin: 0 auto;
        font-size: 1em;
        box-sizing: border-box;
        /* 패딩과 보더를 크기에 포함시킴 */
        padding: 0;
    }

    .edt-top:focus {
        border: 0;
        /* 포커스 시 border 변경 방지 */
        padding: 0;
        /* 패딩 변경 방지 */
        outline: none;
        /* 포커스 시 외곽선 제거 */
    }

    .input-check {
        margin-top: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }

    .btn-send {
        margin-top: 10px;
        border: 0;
        background: transparent;
        background-image: url('images/Button_0.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-self: center;
        width: 70%;
        height: 3vh;
    }

    .bg-sub {
        max-width: 540px;
        margin-top: -20px;
        background-image: url('images/Box1_0.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 75%;
        aspect-ratio: 1.2 / 1;
        margin: 0 auto;
    }

    .link {
        display: flex;
        justify-content: center;
    }

    .img-link {
        width: 30px;
        height: 30px;
        margin: 10px 10px;
    }
}

@media (min-height: 915px) {
    .container {
        padding-top: 70px;
    }

    .bg-main {
        margin-top: 40px;
        width: 90%;
    }

    .bg-sub {
        width: 90%;
    }
}

@media (max-width: 565px) {
    .input-main {
        font-size: 14px;
        margin-bottom: 60px;
    }
}

@media (max-width: 530px) {
    .input-main {
        font-size: 13px;
        margin-bottom: 60px;
    }
}

@media (max-width: 495px) {
    .input-main {
        font-size: 12px;
        margin-bottom: 50px;
    }
}

@media (max-width: 440px) {
    .input-main {
        font-size: 11px;
        margin-bottom: 45px;
    }

    .input-check {
        margin-top: 0px;
        font-size: 13px;
    }

    .btn-send {
        margin-top: 0px;
    }
}

@media (max-width: 400px) {
    .input-main {
        font-size: 10px;
        margin-bottom: 40px;
    }
}