html,
body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    background-image: url('images/Background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.container main .bg-title {
    height: auto;
}

.container footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer {
    text-align: center;
    margin-top: auto;
    /* 항상 화면 하단에 위치 */
}

.bg-title {
    margin-top: 0px;
    display: flex;
    justify-content: center;

}

.img-title {
    margin-top: 20px;
    width: 240px;
    height: 160px;
}

.bg-main {
    max-width: 540px;
    background-image: url('images/Box0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    aspect-ratio: 1.57 / 1;
    margin: 0 auto;
}

.input-main {
    height: 100%;
    padding: 12% 10% 10% 10%;
    box-sizing: border-box;
    text-align: center;
    font-size: 100%;
}

.txt-title {
    margin-top: 2%;
    font-size: 180%;
    font-weight: 800;
    height: 18%;
}

.line-box {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2%;
}

.line {
    width: 85%;
    height: 100%;
    background: #E4C18F
}

.txt-info1 {
    margin-top: 2%;
    font-size: 100%;
    height: 10%;
}

.input-top {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 15%;

}

.edt-top {
    border: 0;
    background: transparent;
    background-image: url('images/EditBox.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* 패딩이 크기에 영향을 주지 않도록 설정 */
    display: flex;
    justify-content: center;
    align-self: center;
}

.edit-text {
    border: 0;
    background: transparent;
    box-sizing: border-box;
}

.edit-text:focus {
    border: 0;
    outline: none;
    background: transparent;
    box-sizing: border-box;
}

.input-check {
    display: flex;
    justify-content: center;
    align-items: center;

}

.txt-info2 {
    margin-top: 1%;
    font-size: 100%;
}

.btn-box {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 15%;
}

.btn-send {
    border: 0;
    background: transparent;
    background-image: url('images/Button_0.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.bg-sub {
    max-width: 540px;
    margin-top: -20px;
    background-image: url('images/Box1_0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    aspect-ratio: 1.2 / 1;
    margin: 0 auto;
}


.img-box {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6%;
    box-sizing: border-box;
}

.img-gift {
    width: 40%;
    height: 38%;
}

.txt-info3 {
    font-size: 100%;
    height: 6%;
}

.txt-box {
    display: flex;
    justify-content: center;
}

.txt-info4 {
    width: 50%;
    font-size: 100%;
    height: 6%;
}

.link {
    display: flex;
    justify-content: center;
}

.img-link {
    width: 7%;
    height: 7%;
    margin: 1% 1%;
}


@media (max-width: 490px) {

    .txt-title {
        font-size: 160%;
    }

    .txt-info1 {
        font-size: 90%;
    }

    .txt-info2 {
        font-size: 90%;
    }

    .txt-info3 {
        font-size: 90%;
    }

    .txt-info4 {
        font-size: 90%;
    }

    .img-gift {
        width: 39%;
        height: 37%;
    }
}

@media (max-width: 430px) {

    .txt-title {
        font-size: 150%;
        height: 17%;
    }

    .txt-info1 {
        font-size: 80%;
    }

    .txt-info2 {
        font-size: 80%;
    }

    .txt-info3 {
        font-size: 80%;
    }

    .txt-info4 {
        font-size: 80%;
    }
}

@media (max-width: 400px) {

    .txt-title {
        font-size: 140%;
        padding-bottom: 1%;
    }

    .txt-info1 {
        font-size: 70%;
    }

    .txt-info2 {
        font-size: 70%;
    }

    .txt-info3 {
        font-size: 70%;
    }

    .txt-info4 {
        font-size: 70%;
    }
}

@media (max-width: 350px) {

    .txt-title {
        font-size: 130%;
        padding-bottom: 1%;
    }

    .txt-info1 {
        font-size: 65%;
    }

    .txt-info2 {
        font-size: 65%;
    }

    .txt-info3 {
        font-size: 65%;
    }

    .txt-info4 {
        font-size: 65%;
    }
}

@media (max-width: 310px) {

    .txt-title {
        font-size: 120%;
    }

    .txt-info1 {
        font-size: 60%;
    }

    .txt-info2 {
        font-size: 60%;
    }

    .txt-info3 {
        font-size: 60%;
    }

    .txt-info4 {
        font-size: 60%;
    }
}